.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10ppx 0;
  max-width: 1000px;
  color: rgb(236, 236, 236);
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  min-height: 175px;
  overflow: hidden;
}

.timeline-item:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.timeline-item h3 {
  color: #00e5ff;
  font-size: 1.2rem;
  margin-bottom: 8px;
  text-align: center;
}

.timeline-item .description {
  color: #f9f9f9;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold; /* Make the description text bold */
  margin-bottom: 8px; /* Add space below the description */
}

.expanded-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* Adjust transition duration */
}

.expanded .expanded-content {
  max-height: 1000px;
}

.expanded-content .company,
.expanded-content .duration,
.expanded-content .responsibilities {
  text-align: left; /* Align specific items to the left */
  padding-left: 20px;
}

.expanded-content ul,
.expanded-content li {
  text-align: left; /* Align specific items to the left */
}

.expanded-content ul {
  padding-left: 40px; /* Add left padding for better readability */
}
.timeline-item:hover h3 {
  text-shadow: 0px 0px 10px #00e5ff; /* Add glow effect to h3 when .timeline-item is hovered */
}

.expanded-content ul {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  padding-left: 40px;
}

.expanded-content li {
  color: #f9f9f9; /* Set the color of the list item text */
  margin: 8px 0; /* Adjust margin between list items */
  position: relative; /* Enable positioning for the custom bullet point */
}

.expanded-content li::before {
  content: ''; /* Empty content to create the custom bullet point */
  position: absolute; /* Position the bullet point */
  top: 50%; /* Position it vertically in the middle of the list item */
  left: -20px; /* Adjust the distance from the left edge of the list item */
  transform: translateY(-50%); /* Center vertically */
  width: 10px; /* Set the width of the bullet point */
  height: 10px; /* Set the height of the bullet point */
  background: linear-gradient(45deg, #00e5ff, #8000ff); /* Apply a gradient background */
  border-radius: 50%; /* Make the bullet point round */
  color: rgb(236, 236, 236)
}

